
$link: #e2fdff;

$b: #18181a;
$bg-dark: #181b21;

$gray: #4a4e4e;
$light-gray: #989f9f;

// Typography
$text: #e8e9eb;

body{
    background: $bg-dark;
    font-family: 'AT Surt';
    color: $text;
}

*{
    color: $text;
    -webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-ms-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}

h1, h2, h3, h4{
    font-family: 'AT Surt';
}

.back-btn, a{
    font-family: 'AT Surt';
    color: $gray !important;
    box-shadow: none;
}


.back-btn:hover{
    cursor: pointer;
}


.tags{
    box-sizing: border-box;
    padding:1em 0;
    
    a{
        color:blue;
        margin:0 1em;
    }
    
}

p{
    font-weight: 100;
}


/* ARTICLE INDEX */


.date{
    text-transform: uppercase;
    letter-spacing:.3px;
    margin:0;
    font-size:.8em;
    float:right;
    color: $gray;
}



.post-preview{ 
    
    a, h3{
        font-family:"WindsorD";
        height:45px;
        font-size:1.4em;
        max-width:80%;
        // truncation doesn't work multiline
        opacity:0.7;
        text-overflow:ellipsis;
        white-space: nowrap;
        color: $light-gray !important;
        overflow: hidden;
        margin-bottom:.5em;
        letter-spacing:.6px;
    }
    
    a, h3:hover{
        opacity:1;    
        cursor: e-resize;
    }
    
    .date{
        margin-top:1em;
    }
    
}

article.post-preview{
    padding: 0;
}


/* ARTICLE */

.dark{
    background: $bg-dark;
}

#article-title{
    font-size:3.2em;
    font-family: 'WindsorD';
    color: $light-gray;
    line-height:1em;
    padding:0;
    margin:.5em 0 1.5em 0;
}

.article .date{
    margin:.5em 0;
    padding:0;
}

nav.article li{
    opacity:0.8;
}

nav.article li:hover{
    opacity:1;
    text-shadow: 0 0 10px $b;
}

#site-header{
    
    padding-top:2em;
    
    h1{
        margin:0;
        color: $text;

    }
    
}

#site-header.front{
    
    margin-top:2em;
    
}

.late{
        position: absolute;
        top:0;
        width:100%;
        left:0;
        height:30px;
        overflow: hidden;
        padding:0 .3em;
        line-height:30px;
        box-sizing: border-box;
        background: $b;
        color: $gray;
        margin:0;
}

#header{
    background: $b;
    top:0;
    left:0;
    padding:1em;
    box-sizing: border-box;
    position: absolute;
    width:100%;
    text-decoration: none;
    text-align: center;
    
    a{
        box-shadow: none;
        border:0;
    }
    
    img{
        border:0;
        max-width:250px;
    }
    
}